*{
    padding: 0;
    margin: 0;
}
.output {
    margin: auto;
    text-align: center;
    border: 1px solid black;
    width: 80%;
}

.scoreBoard{
    background-color: black;
    color: white;
    padding: 10px;
}
.gameBoard{
    background-color: aqua;
    height: 80vh;
    position: relative;
    overflow: hidden;
}
.message{
    background-color: blanchedalmond;
    padding: 10px;
}
.btn{
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
}

.bubble {
    width : 30px;
    height: 30px;
    background-color: rgba(red, green, blue, alpha);
    color: white;
    border-radius: 50%;
    line-height: 30px;
    position: absolute;
    left: 50%;
    top : 100px;
    cursor: crosshair;
}